[submodule "lib/evm-cctp-contracts"]
	path = lib/evm-cctp-contracts
	url = https://github.com/circlefin/evm-cctp-contracts.git
[submodule "lib/solana-cctp-contracts"]
	path = lib/solana-cctp-contracts
	url = https://github.com/circlefin/solana-cctp-contracts.git
